name: Build and Release PDF

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Setup pnpm
        run: npm install pnpm -g
      - name: Install dependencies
        run: pnpm install
      - name: Build PDF
        run: pnpm run build
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: resume.pdf
          name: Resume PDF
          tag_name: v${{ github.run_number }}
          draft: false
          prerelease: false
